/*--
/*  4.6 - COURS TEXTE CSS
/*----------------------------------------*/
/* 
.cours-section .next,
.cours-section .prev {
	font-size: 18px;
	position: absolute;
	bottom: 15px;
	letter-spacing: -2px;
}

.cours-section .next {
	right: 30px;
}

.cours-section .prev {
	left: 30px;
} */
/* 
#cours-content {
	overflow: hidden;
	position: relative;
	height: 550px;
	float: left;
} */


.chap-active {
    position: relative;
}

.chap-active .chap-arrow {
    text-align: center;
    margin-top: 30px;
}

.chap-active .swiper-button-next,
.chap-active .swiper-button-prev {
    opacity: 1;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid rgba(48, 146, 85, 0.2);
    color: #212832;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    top: 0;
    margin-top: 0;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 575px) {

    .chap-active .swiper-button-next,
    .chap-active .swiper-button-prev {
        width: 35px;
        height: 35px;
        line-height: 32px;
    }
}

.chap-active .swiper-button-next::after,
.chap-active .swiper-button-prev::after {
    display: none;
}

.chap-active .swiper-button-next:hover,
.chap-active .swiper-button-prev:hover {
    background-color: #309255;
    color: #fff;
}

.chap-active .swiper-button-prev {
    left: 0;
}

.chap-active .swiper-button-next {
    right: 0;
}


.single-chap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid rgba(48, 146, 85, 0.2);
    border-radius: 10px;
    padding: 25px;
    margin-top: 30px;
    /* height: 500px; */
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

@media only screen and (min-width: 992px) and (max-width: 1199px),
only screen and (max-width: 768px) {
    .single-chap {
        padding: 15px;
        /* height: 250px; */
    }
}

.single-chap .student-content {
    padding-left: 30px;
    max-width: 220px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px),
only screen and (max-width: 575px) {
    .single-chap .student-content {
        padding-left: 15px;
        max-width: 200px;
    }
}

.single-chap .student-content .name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px),
only screen and (max-width: 575px) {
    .single-chap .student-content .name {
        font-size: 16px;
    }
}

.single-chap .student-content .country {
    color: #309255;
    font-size: 13px;
    font-weight: 400;
    display: block;
    margin-top: 7px;
}

.single-chap .student-content .country img {
    width: 15px;
    margin-top: -6px;
}

.single-chap .student-content p {
    font-size: 13px;
    font-weight: 500;
    color: #212832;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.single-chap .student-content .date {
    font-size: 13px;
    font-weight: 400;
    color: #838785;
    display: block;
    margin-top: 2px;
}

.single-chap .student-content .date i {
    color: #309255;
    margin-right: 5px;
}

.single-chap:hover {
    border-color: #309255;
}

/* Quiz  */


.quiz-content {
    padding: 20px 80px;
}

.quiz-wrapper {
    width: 100%;
    margin-bottom: 50px;
}


.quiz-content p,
li {
    font-size: 15px;
    line-height: 26px;
    color: #333;
}


.quiz-content h1 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
    color: #e46d26;
}

.quiz-content h2 {
    border-top: 1px solid #BBB;
    font-size: 24px;
    font-weight: 400;
    padding-top: 40px;
    margin-bottom: 10px;
    color: #322f2a;
}

.quiz-content li {
    margin-bottom: 12px;
}

.ch-suivant {
    float: right;
    padding: 10px 15px;
    margin-top: 20px;
    background-color: rgb(190, 194, 231);
    text-decoration: none;
}




/******** TESTS ********/

.container-qs {
    background-color: #42434e;
    border-radius: 7px;
    color: #FFF;
    padding: 20px 60px;
    box-shadow: 1px 1px 1px #42434e;
    margin-bottom: 50px;
}

.container-qs h2 {
    font-weight: 500;
    font-size: 28px;
    padding-bottom: 20px;
    padding-top: 0px;
    border-bottom: 1px solid #CCC;
    border-top: none;
    color: #fff;
}

.container-qs p,
.container-qs li {
    padding-bottom: 5px;
    color: #fff;
}


/******** RESPONSIVE ********/
@media screen and (max-width: 760px) {
    .quiz-wrapper {
        width: 100%;
        left: 100%;
    }

    .quiz-content {
        padding: 20px 10px;
        max-width: 760px;
    }
}



/* dashboard responsable */
.courses .rating-author img {
    width: 70px;
    border-radius: 50%;
}

/* register */
.role-select {
    padding-top: 20px;
}

/* after enroll */

.courses-quiz {
    width: 71.8%;
    padding-bottom: 80px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
only screen and (max-width: 767px) {
    .courses-quiz {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .courses-quiz {
        padding-bottom: 60px;
    }
}


/* accueil */

.detail-eniola {
    margin: 100px auto;
}


.detail-content p {
    font-size: 28px;
}

@media only screen and (min-width: 1440px) {

    .detail-eniola {
        margin: 150px 10px;
        padding: 0 200px;
    }

    .detail-content {
        padding: 0 50px;
        margin: 10px 100px;
    }
}

@media only screen and (max-width: 575px) {

    .detail-content p {
        font-size: 15px;
    }
}

/* 
@media only screen and (max-width: 768px) {

    .detail-eniola {
        margin: 100px auto;
        padding: 0 200px;
    }

    .detail-content {
        padding: 0 150px;
    }
} */

.internet-section p {
    /* background: url(/images/INTERNET_png.png) center/cover no-repeat; */
    font-size: 20px;
    font-weight: 400;
}

@media only screen and (min-width: 1440px) {

    .internet-section {
        padding: 0 200px;
    }

    .internet-section p {
        font-size: 30px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1440px) {

    .internet-section {
        padding: 0 100px;
    }

    .internet-section p {
        font-size: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {

    .internet-section {
        padding: 0 200px;
    }
}

@media only screen and (max-width: 768px) {

    .internet-section {
        padding: 0 50px;
    }
}

/* contact eniola section */

.eniola-section {
    /* height: 800px; */
    position: relative;
    z-index: 2;
    /* padding-top: 188px; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.eniola-section p {
    font-size: 22px;
    text-align: justify;
}

.eniola-section .eniola-content {
    position: relative;
    left: -50px;
    max-width: 50%;
}

.eniola-section .part-1 {
    position: relative;
    left: -50px;
}

.eniola-section .part-2 {
    position: relative;
    left: -100px;
}

.eniola-section .image-eniola {
    position: relative;
    /* right: -10px; */
    top: 0;
    max-width: 50%;
}


.image-eniola-bulle .bulle {
    position: relative;
    left: -150px;
    /* top: 0; */
    height: 300px;
}


.image-eniola-bulle span {
    position: absolute;
    left: 15px;
    top: 0;
    color: #fff;
    font-size: 35px;
}

@media only screen and (max-width:769px) {

    .eniola-section .image-eniola {
        /* top: 0; */
        height: 800px;
    }

    .eniola-section .eniola-content {
        left: -15px;
    }

    .image-eniola-bulle .bulle {
        left: -70px;
        /* top: 0; */
        height: 200px;
    }

    .image-eniola-bulle span {
        left: 0;
        top: 20px;
        font-size: 18px;
    }

    .text-eniola {
        position: relative;
        left: -50px;
        top: 70px;
    }

}

@media only screen and (min-width:770px) and (max-width:994px) {

    .eniola-section .image-eniola {
        /* top: 0; */
        height: 500px;
    }

    .eniola-section .eniola-content {
        left: -15px;
    }

    .image-eniola-bulle .bulle {
        left: -70px;
        /* top: 0; */
        height: 200px;
    }

    .image-eniola-bulle span {
        left: 25px;
        top: 0;
        font-size: 25px;
    }

    .text-eniola p {
        font-size: 15px;
    }

}


@media only screen and (min-width:995px) and (max-width:1024px) {

    .image-eniola-bulle .bulle {
        left: -100px;
        /* top: 0; */
        height: 200px;
    }

    .image-eniola-bulle span {
        left: 0;
        top: 0;
        font-size: 25px;
    }

    .text-eniola p {
        font-size: 15px;
    }

}

@media only screen and (min-width:1025px) and (max-width:1199px) {

    .image-eniola-bulle .bulle {
        left: -80px;
        height: 200px;
    }

    .image-eniola-bulle span {
        left: 30px;
        top: 0;
        font-size: 22px;
    }

    .text-eniola p {
        font-size: 15px;
    }

}
